{% macro generate(input) %}
    {% if input.icon %}
    <div class="input-group">
        <span class="input-group-addon"><i class="{{input.icon}}"></i></span>
    {% else %}
    <div class="form-group">
    {% endif %}
        <input{% for type,value in input %} 
            {% if type == 'placeholder' %}
                placeholder="{{translate(value)}}"
            {% else %}
                {{type}}="{{value}}"
            {% endif %}
        {% endfor %}></input>
    </div>
{% endmacro %}
