{% macro generate(addrec) %}
    {% if (addrec.dtid |default('')) !='' %}
        <a href="#" onclick="addToOrderLine(this,'{{addrec.dtid}}');">
            {{addrec.label}}
        </a> 
    {% endif %}
{% endmacro %}